## Requisitos / Dependencias

Este proyecto utiliza las siguientes librerías (si lo abrís en **Google Colab**, el entorno ya está preparado: solo tenés que ejecutar las celdas, sin configurar nada extra):

# Librerías básicas
numpy
pandas

# Machine Learning
scikit-learn

# Visualización
matplotlib
seaborn

# Carga de datos desde Kaggle
kagglehub[pandas-datasets]

# Conexión a MongoDB Atlas
pymongo
dnspython
certifi

# Trabajo con notebooks
jupyter
ipykernel
